<h3>{{post.title}}</h3>
{{post.date}}
<br />
{{post.body}}

<br />

<div>
    {% for hashtag in post.hashtag.all %}
        #{{ hashtag }}
    {% endfor %}
</div>

<a href="{% url 'home' %}">홈으로 돌아가기</a>
<a href="{% url 'delete' post.id %}">삭제하기</a>
<a href="{% url 'update_page' post.id %}">수정하기</a>

<hr>
<a href="{% url 'add_comment' post.id %}" class = "add_comment">댓글달기</a>
{% for comment in post.comments.all %}
    <div class = "comment">
        <strong class="username">{{ comment.username }}</strong>
        <div class="date">{{ comment.create_at }}</div>
        <p>{{ comment.comment_text | linebreaks }}</p>
    </div>
{% empty %}
    <p>아직 댓글이 없어요</p>
{% endfor %}